/* Generelle stiler som gjelder for alle enheter */
body {
    background-color: rgb(0, 0, 0);
    position: relative; /* Gjør body til relativt posisjonert */
}

/* Stil for å endre størrelsen på bildene */
.andini-forskreket {

    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    transform: rotate(-5deg);
}

.andini-med-tørkle-i-honden {
    color: white;
    justify-content: flex-end;
    display: flex;
    font-size: 12px; /* Sørger for at bakgrunnsbildet dekker hele elementet */
}

.bilde-av-andini-og-kanin {
    height: 200px;
    position: relative;
    left: -23rem;
    justify-content: flex-start;
    font-size: 12px;
    transform: rotate(-5deg);
}

p {
    color: white; /* Endrer tekstfargen for alle <p> elementer */
}

h1 {
    color: white; /* Setter farge på h1-teksten til hvitt */
}

/* Midtstilling av h1 */
body, html {
    height: 220%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midtstilt {
    text-align: center;
}

.container {
    display: flex;
}

.left-content {
    width: 45%; /* Justerer bredden etter behov */
    justify-content: flex-start; /* Plasserer innholdet til venstre */
    align-items: flex-start; /* Justerer vertikal plassering */
}

.right-content {
    width: 45%; /* Justerer bredden etter behov */
    justify-content: flex-end; /* Plasserer innholdet til høyre */
    align-items: flex-end; /* Justerer vertikal plassering */
}

.til-venstre {
    flex-direction: column;
    align-items: flex-start; /* Justerer vertikal plassering */
}

/* CSS for image-grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.image-grid img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .bilde-av-andini-og-kanin {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
